.header-text{
    color: #fdfdfd;
    text-shadow: 0 1px 0 #ccc, 
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
    border-bottom: 5px solid whitesmoke;
    border-radius: 10px;
    padding: 3px;
}
.fs-custom-big{
    font-size: 10vw;
}
.z-index-n{
    z-index: -1;
}
.hh{
    height: 100vh;
}
.glow{
    background-color: white;
    box-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 8px #0ba9ca,
    0 0 12px #cbe7ec, 0 0 14px #cfeaf0;
}
.bg-bb{
    background-color: #e3e3e3;
}
.bg-blue-sky{
    background-image: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
}
.link-unstyled{
    text-decoration: none;
}
.fs-au{
    font-size: calc(0.3rem + 1vw);
}
.ps-5a{
    padding-left: 3rem;
}
@media (max-width: 768px) {
    .fs-au {
        font-size: 0.7rem;
    }
    .ps-5a{
        padding-left: 0rem;
    }
    .mt-sm-2{
        margin-top: 5px;
    }
}
@media (max-width: 375px) {
    .fs-au{
        font-size: 0.5rem;
        font-weight: bold;
    }
}